
<!DOCTYPE html>
<html>
<head>
<title>Plan Your Trip to Dubai</title>
</head>
<body>
<h1>Plan Your Trip to Dubai</h1>
<form action="/api/create_plan" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<label for="num_places">Number of places to visit:</label>
<input type="number" name="num_places" id="num_places">
<br>
<input type="submit" value="Create Plan">
</form>
<a href="/">Home</a>
<a href="/places">Places to Visit</a>
<a href="/contact">Contact Us</a>
</body>
</html>


